<!doctype html>
<html class="supports-no-js " lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/css/uikit.min.css" />

    <link rel="stylesheet" href="/css/style.css">
    <title>TechBlog</title>
</head>

<body>

    <header class="site-header__wrapper" role="banner">

        <div class="site-header-sections page-width">

            <nav class="uk-navbar-container" uk-navbar>

                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/dashboard">Dashboard</a></li>
                        {{#if logged_in}}
                        <li><a href="/login">Logout</a></li>
                        {{else}}
                        <li><a href="/login">Login</a></li>
                        {{/if}}
                    </ul>



                </div>
            </nav>

            <div class="site-header__section site-header__section--title">
                <h1 class="h4">Welcome to The TECH BLOG</h1>
            </div>

        </div>
    </header>

    <main>
        {{{body}}}
    </main>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.21/dist/js/uikit-icons.min.js"></script>

    <script src="/js/script.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>

</body>


</html>