<div class="uk-inline">
    <button class="uk-button uk-button-default" type="button">Hover</button>
    <div class="uk-dropdown">
        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" id="postcomment" placeholder="Add your Comment!"></textarea>
        </div>
        <a class="uk-button uk-button-default" href="#" id="submitcomment">Comment</a>
    </div>
</div>