<section>
    <form>
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">New Post</legend>

            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Post Title" id="posttitle">
            </div>



            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Body" id="posttext"></textarea>
            </div>

            <a class="uk-button uk-button-default" href="#" id="submit">Post</a>

            <div class="uk-margin">
                <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1">
            </div>

        </fieldset>
    </form>
</section>